@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Palanquin:wght@300&family=Patua+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Castoro', serif;
}
nav {
    background-color: #241337;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    height: 16vh;   
}
nav img {
    width: 5rem;
}
.primeiraSeçaoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
}
nav p{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-family: 'Patua one', serif;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 48vw;
    height: 16vh;
}
nav ul button {
    color: #FFFFFF;
    background-color: transparent;
    font-size: 2rem;
    border: none;
}
nav button:hover {
    transition: 280ms;
    cursor: pointer;
    scale: 1.1;
}
.primeiraSeçaoMain {
    background-color: #241337;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 85vh;   
}
.artigoTextoPrimeiraSeçao {
    display: flex;
    flex-direction: column;
}
.paragrafoBranco  {
    color: #FFFFFF;
    font-size: 4rem;
    white-space: pre-line;
    text-align: left;
}
.fraseAmarela {
    color: #ffdb53;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    height: 6rem;
}
.listaBotoesPrimeiraSeçao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width:  34vw;
    height: 16vh;
}
.botaoRoxo {
    color: #FFFFFF;
    background-color: #6731B3;
    font-size: 1.8rem;
    border: none;
    border-radius: 3rem;
    width: 21rem;
    height: 4rem;
}
.botaoBranco {
    color: #6731B3;
    background-color: #FFFFFF;
    font-size: 1.8rem;
    border: none;
    border-radius: 3rem;
    width: 16rem;
    height: 4rem;
}
.botaoRoxo:hover {
    transition: 280ms;
    cursor: pointer;
    scale: 1.1;
}
.botaoBranco:hover {
    transition: 280ms;
    cursor: pointer;
    scale: 1.1;
}
.segundaSeçaoMain {
    background-color: #ffffff;
    min-height: 100vh
}
.artigoTextoSegundaSeçao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: pre-line;
    height: 45vh;
}
.tituloRoxo {
    color: #401A74;
    font-size: 3rem;
}

.paragrafoSublinhado {
    color: rgb(172, 172, 172);
    font-style: italic;
    font-size: 1.2rem;
}

.artigoImagensSegundaSeçao {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.caixaImagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 65vh;
    position: relative;
    width: 340px;
    height: 480px;
}
.caixaImagens img {
    display: block;
    width: 350px;
    height: 480px;
}

.caixaSobreposta {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(163, 163, 163, 0.6);
    color: #ffffff;
    border-radius: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.caixaSobreposta--blur {
    backdrop-filter: blur(5px);
}

.caixaSobreposta>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.caixaSobreposta:hover {
    opacity: 1;
}

.caixaSobreposta:hover>* {
    transform: translateY(0);
}


.caixaTextos {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}